<style type="text/css">
  .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
  }

  .btn-icon {
    line-height: 0.7;
  }
</style>

<body>
  <div class="container ">
    <div class="container">
      <div class="row">
        <%= simple_form_for(Establishment.new, method: :get, url: establishments_path) do |f| %>
          <div class="form-row">
            <%= f.input :fantasy_name, placeholder: 'Filtro de nome', label: false, input_html: { value: @fantasy_name } %>
            <%= f.input :neighborhood, placeholder: 'Filtro de bairro', label: false, input_html: { value: @address_neighborhood } %>
            <%= f.input :city, placeholder: 'Filtro de cidade', label: false, input_html: { value: @address_city } %>
            <%= f.input :email, placeholder: 'Filtro de email', label: false, input_html: { value: @email } %>
            <%= f.input :step, label: false, collection: Step.all, prompt: 'Filtro de nível' %>
            <%= f.button :submit, style: 'display: none' %>
          </div>
        <% end %>
        <div style="margin-left: 30px">
          <%= link_to new_establishment_path do %>
          <button type="button" class="btn btn-warning btn-circle btn-lg" data-toggle="tooltip" data-placement="top"
            title="Adicionar Estabelecimento">
            <i class="material-icons btn-icon">add</i>
          </button>
          <% end %>
        </div>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nome Fantasia</th>
          <th scope="col">Tipo</th>
          <th scope="col">Rua</th>
          <th scope="col">Número</th>
          <th scope="col">Bairro</th>
          <th scope="col">Cidade</th>
          <th scope="col">Fone</th>
          <th scope="col">E-mail</th>
          <th scope="col">Whatsapp</th>
          <th scope="col">Nível</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "establishment", collection: @establishments %>
      </tbody>
    </table>
  </div>

</body>
<script>
  $('[data-toggle="tooltip"]').tooltip()
</script>

</html>
